@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/Poppins-Regular.ttf");
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* greeds */
.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

/* Colors*/
.colors__wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.rectangle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.standart-color {
  background: #2F1160;
}

.active-color {
  background: #6200ff;
}

.border-color {
  background: #B9B7BD;
}

.ebe-bg {
  background: #EBE9F0;
}

.active-bg {
  background: #FBFAFC;
}

/* Typography */
h1 {
  font-size: 54px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
  line-height: 46px;
}

h4 {
  font-size: 25px;
  line-height: 38px;
}

.subheading-first {
  font-weight: 400;
  font-size: 53px;
  line-height: 120%;
}

.subheading-second {
  font-weight: 400;
  font-size: 39px;
}

.subheading-third {
  font-weight: 400;
  font-size: 32px;
}

.subheading-four {
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
}

.body-text {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
}

.text-body {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

.body-bold, .label-bold {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

.text-small, .text-label {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.small-bold {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.text-micro {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.micro_bold {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
}

/*  Navigations  */
.header, .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px;
  gap: 50px;
  color: #2F1160;
}

.title-page {
  font-style: normal;
  font-weight: 700;
  font-size: 68px;
  line-height: 100%;
}

.dashed__wrap {
  padding: 16px;
  margin-top: 16px;
  border: 2px dashed #2F1160;
  border-radius: 5px;
}

.navbar-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar-top__wrap {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  width: 375px;
  height: 80px;
  background: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.navbar-top__link {
  width: 40px;
  height: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

/* Bradcrumbs */
.breadcrumb__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
}

.breadcrumb__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bredcrumb__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  color: #2F1160;
}

.breadcrumb__link_active .bredcrumb__label {
  color: #6200ff;
}

.breadcrumb__link_active .material-icons {
  color: #6200ff;
}

/* Horisontal nav */
.nav-item__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  border-top: 2px solid #B9B7BD;
}

.nav-item__wrap_bottom {
  border-top: none;
  border-bottom: 2px solid #B9B7BD;
}

.nav-item__wrap_active {
  color: #6200ff;
  border-top: 2px solid #6200ff;
}

.nav-item__wrap_active-bottom {
  color: #6200ff;
  border-bottom: 2px solid #6200ff;
}

.horisontal {
  box-sizing: border-box;
}

.horisontal__wrap {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.horisontal__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100px;
  border-top: 3px solid #B9B7BD;
}

.horisontal__item:hover {
  background: #FBFAFC;
  color: #6200ff;
}

.horisontal__item_active {
  color: #6200ff;
  border-top: 3px solid #6200ff;
}

.horisontal__item_active:hover {
  background: #6200ff;
  border-top: 3px solid #6200ff;
  color: #FFFFFF;
  transition: all 0.5s ease-in;
}

/* Tabs */
.tab-items {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.tab__single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 48px;
  border-bottom: 3px solid #B9B7BD;
}

.tab__single_top {
  border-bottom: none;
  border-top: 3px solid #B9B7BD;
}

.tab__single_active {
  border-color: #6200ff;
  color: #6200ff;
}

.tab__label {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.tabs__wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.tabs__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 45px;
  border-bottom: 3px solid #B9B7BD;
}

.tabs__item_active {
  border-color: #6200ff;
  color: #6200ff;
  background: #FBFAFC;
}

.side {
  box-sizing: border-box;
}

.side__wrap {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.side__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 48px;
}

.side__item {
  border-right: 3px solid #B9B7BD;
}

.side__item_left {
  border-left: 3px solid #B9B7BD;
  border-right: none;
}

.side__item_active {
  border-color: #6200ff;
  color: #6200ff;
  background: #FBFAFC;
}

/* Sidenav  */
.sidenav {
  box-sizing: border-box;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.sidenav__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.sidenav__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 48px;
  border-right: 3px solid #B9B7BD;
}

.sidenav__item_active {
  border-color: #6200ff;
  color: #6200ff;
  background-color: #FBFAFC;
}

/* Buttons */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  gap: 10px;
  border: 3px solid #B9B7BD;
  border-radius: 4px;
  height: 48px;
}

.primary {
  background: #2F1160;
  color: #FFFFFF;
  border-color: #2F1160;
}

.primary:hover {
  background: #FBFAFC;
  color: #2F1160;
  transition: all 0.3s ease-in;
}

.primary:focus {
  background: #6200ff;
  color: #FBFAFC;
  border-color: #6200ff;
}

.primary-disabled {
  background: #FBFAFC;
  color: #B9B7BD;
  border-color: #FBFAFC;
  cursor: wait;
}

.primary-disabled:hover {
  background: #EBE9F0;
  color: #FBFAFC;
  border-color: #EBE9F0;
}

.primary-disabled:focus {
  background: #B9B7BD;
  color: #FBFAFC;
  border-color: #B9B7BD;
}

/* Secondary */
.secondary {
  background: #FFFFFF;
  border: 3px solid #2F1160;
  color: #2F1160;
}

.secondary:hover {
  background: #2F1160;
  color: #FFFFFF;
  transition: all 0.3s ease-in;
}

.secondary:focus {
  background: #6200ff;
  border-color: #6200ff;
  color: #FFFFFF;
}

.secondary-disabled {
  border-color: #B9B7BD;
  color: #B9B7BD;
}

.secondary-disabled:hover {
  background: #B9B7BD;
  color: #FFFFFF;
  cursor: wait;
  transition: all 0.3s ease-out;
}

.secondary-disabled:focus {
  background: #EBE9F0;
  border-color: #EBE9F0;
}

/* Tertiary */
.tertiary {
  background: #FFFFFF;
  color: #2F1160;
  border-color: #FFFFFF;
}

.tertiary:hover {
  border-color: #2F1160;
  transition: all 0.3s ease-in;
}

.tertiary:focus {
  background: #2F1160;
  color: #FFFFFF;
}

.tertiary-disabled {
  background: #FFFFFF;
  color: #B9B7BD;
  border-color: #FFFFFF;
}

.tertiary-disabled:hover {
  border-color: #B9B7BD;
  transition: all 0.3s ease-in;
  cursor: wait;
}

.tertiary-disabled:focus {
  background: #B9B7BD;
  color: #FFFFFF;
}

/* Round */
.btn-round {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 3px solid #B9B7BD;
  border-radius: 999px;
  height: 48px;
  width: 48px;
}

.btn-round .material-icons {
  font-weight: 900;
  line-height: 28px;
}

.round-primary {
  background: #2F1160;
  color: #FFFFFF;
  border-color: #2F1160;
}

.round-secondary {
  background-color: #FBFAFC;
  border-color: #2F1160;
}

.round-tretiary {
  background: #FFFFFF;
  border-color: #FFFFFF;
  color: #2F1160;
}

.round-primary_disabled {
  background: #FBFAFC;
  color: #B9B7BD;
  border-color: #FFFFFF;
}

.round-secondary_disabled {
  background: #FFFFFF;
  color: #B9B7BD;
  border-color: #B9B7BD;
}

.round-tretiary_disabled {
  background: #FFFFFF;
  color: #B9B7BD;
  border-color: #FFFFFF;
}

/* Button group */
.btn-left {
  border-radius: 4px 0 0 4px;
}

.btn-middle {
  border-radius: 0;
}

.btn-right {
  border-radius: 0 4px 4px 0;
}

.btn-group .btn {
  width: 100%;
}

.btn-group__wrap {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  width: 500px;
}

/* Inputs */
/* Input Botoom */
.input-field__input {
  height: 48px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: currentColor;
  background: #FFFFFF;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding-left: 16px;
}

.input-field__label {
  padding: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  margin-top: -10px;
  margin-left: 16px;
  color: #2F1160;
}

.label-disabled {
  color: #B9B7BD;
}

.input-field__input:disabled, .input-field__label_disabled {
  color: #B9B7BD;
}

.input-field__input:focus .input-field__label {
  color: #6200ff;
  transition: all 0.3s ease-in;
}

/* Textarea */
.input-field__textarea {
  height: 120px;
  width: 295px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: currentColor;
  background: #FFFFFF;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 11px 16px;
}

.input-field__textarea::-moz-placeholder {
  color: #2F1160;
}

.input-field__textarea::placeholder {
  color: #2F1160;
}

.input-field__textarea:disabled {
  color: #B9B7BD;
  border-color: #B9B7BD;
}

.input-field__textarea:disabled::-moz-placeholder {
  color: #B9B7BD;
  border-color: #B9B7BD;
}

.input-field__textarea:disabled::placeholder {
  color: #B9B7BD;
  border-color: #B9B7BD;
}

/* Select */
.input-field__select {
  width: 295px;
  height: 50px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: currentColor;
  background: #FFFFFF;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding-left: 16px;
  word-spacing: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.input-field__icon {
  position: absolute;
  margin-left: 260px;
  margin-top: 12px;
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
}

.input-field__option {
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  line-height: inherit;
}

.input-field__date {
  width: 280px;
  height: 50px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: currentColor;
  background: #FFFFFF;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding-left: 16px;
}

.input-field__date::-webkit-calendar-picker-indicator {
  font-size: 18px;
  font-family: inherit;
  padding-right: 16px;
}

.input-field__numerick {
  width: 295px;
  height: 50px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: currentColor;
  background: #FFFFFF;
  border: 1px solid currentColor;
  border-radius: 4px;
  padding: 0 16px 0 16px;
}

.input-field__numerick:disabled {
  color: #B9B7BD;
  border-color: #B9B7BD;
}

/* Search Button */
.input-field__search {
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  color: currentColor;
  background: #FFFFFF;
  border: 1px solid currentColor;
  border-radius: 4px;
  width: 295px;
  height: 50px;
  padding-left: 48px;
  padding-right: 16px;
}

.input-field__search:disabled {
  color: #B9B7BD;
  border-color: #B9B7BD;
}

.input-field__search-icon {
  position: absolute;
  margin-top: 14px;
  margin-left: 16px;
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
  color: #B9B7BD;
}

/* Radio Buttons */
.form-control {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1em;
}

input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  font: inherit;
  color: currentColor;
  width: 30px;
  height: 30px;
  border: 3px solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type=radio]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 300ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  background-color: CanvasText;
}

input[type=radio]:checked::before {
  transform: scale(1);
}

input[type=radio]:disabled {
  color: #B9B7BD;
}

input[type=radio]:disabled::before {
  background-color: #B9B7BD;
}

/* Checkboxes */
input[type=checkbox] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 30px;
  height: 30px;
  border: 3px solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type=checkbox].square__check::before {
  content: "";
  width: 8px;
  height: 8px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type=checkbox].standart__check::before {
  content: " ";
  width: 14px;
  height: 14px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #2F1160;
  transform-origin: bottom left;
  -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
          clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type=checkbox]:checked::before {
  transform: scale(1);
}

input[type=checkbox]:disabled {
  border-color: #B9B7BD;
}

input[type=checkbox].square__check:disabled:before {
  background: #B9B7BD;
}

input[type=checkbox].standart__check:disabled:before {
  background: #B9B7BD;
}

/* Switches */
.checkbox-ios {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: grid;
  grid-template-columns: 2em auto;
  gap: 2em;
}

.checkbox-ios .checkbox-ios-switch {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 50px;
  height: 30px;
  border: 3px solid currentColor;
  border-radius: 99px;
  background: #FFFFFF;
  transition: 0.2s;
}

.checkbox-ios .checkbox-ios-switch:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 99px;
  background: #2F1160;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: 0.15s;
}

.checkbox-ios input[type=checkbox] {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-ios input[type=checkbox]:not(:disabled):active + .checkbox-ios-switch:before {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch {
  background: #FBFAFC;
}

.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch:before {
  transform: translateX(20px);
}

/* Disabled */
input[type=checkbox]:disabled + .checkbox-ios-switch {
  border-color: #B9B7BD;
}

input[type=checkbox]:disabled + .checkbox-ios-switch:before {
  background: #B9B7BD;
}

/* Tables */
tr {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

td, th {
  width: 180px;
  display: flex;
  flex-direction: row;
  padding: 13px 16px;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

th {
  color: #B9B7BD;
  background: #FFFFFF;
}

.striped tr:nth-child(odd) {
  background-color: #FBFAFC;
}

/* Main  Miscellaneus */
.large-icon {
  font-size: 48px;
  line-height: 55px;
}

.icon-avatar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  background-color: #FBFAFC;
  border-radius: 999px;
}

.dropdown__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.dropdown__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 48px;
  padding: 0;
}

.list-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
}

.list-menu__element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.list-menu__frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 235px;
}

.list-menu__frame_long {
  width: 295px;
  height: 50px;
}

/* Pagination */
.paging {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.paging__frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.paging__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px 16px;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.paging__item:hover {
  background: #FBFAFC;
}

.paging__item_active {
  background: #2F1160;
  color: #FFFFFF;
}

.paging__item_active:hover {
  background: #6200ff;
}

.paging-icon {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

/* Tooltip */
.tooltip__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 47px;
  padding: 0px 16px 0px 16px;
  border: 3px solid #2F1160;
  border-radius: 24px;
}

.tooltip-top, .tooltip-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip-bottom .tooltip__wrap {
  margin-bottom: 15px;
}

.tooltip-bottom .rect {
  position: relative;
  margin-bottom: -8px;
}

.tooltip-left, .tooltip-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tooltip-left .rect {
  position: relative;
  margin-left: -3px;
}

.tooltip-right .rect {
  position: relative;
  margin-right: -3px;
}

.tooltip-top .tooltip__wrap {
  margin-top: 15px;
}

.tooltip-top .rect {
  position: relative;
  margin-top: -10px;
}

/* Annotations */
.sticky-note__wrap {
  width: 170px;
  min-height: 170px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFDA1;
  box-shadow: 3px 3px 0px #2F1160;
  text-align: center;
}

.callout {
  width: 40px;
  height: 40px;
  background: #FFFDA1;
  box-shadow: 3px 3px 0px #2F1160;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 999px;
}/*# sourceMappingURL=wirefigma.css.map */