@import "components/variables.scss";

html{
   overflow-x: none;
}
.standart-color{
   background: $standart-color;
}
.wirenav{
    box-shadow: $bshd;
}
.navbar__burger{
    padding-right: 1em;
    display: none;
}
.navbar__toggle{
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    background: #FFF;
    text-align: center;
    z-index: 5;
    
    & li { 
        height: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;
        &:hover{
                background: $standart-color;
                & a{
                  color: #FFF;   
                }       
            }
        & a{
            font-size: 1em;
            text-transform: uppercase;   
        }
    }
}

.main{
    display: grid;
    grid-template-columns: 300px auto;
    gap: 15px;
    padding: 20px;
    & .main-index{
        grid-template-columns: auto;  
    }
}

header{
    padding: 2em 0 2em 1em;
    background: $ebe-bg;
    background-repeat: no-repeat;
    background-size: cover;
    color: $border-color;
    & h1 {
        color: #FFF;
    }

}
.index-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    & h1{
        text-transform: uppercase;
        font-size: 3em;
        padding: 1.2em;
        color: $standart-color;
    }
}
.boots{
    display: inline-block;
    transform: translateX(-1200px);
    transition: all 1.2s;
}
.dont{
    display: inline-block;
    transform: translateX(1200px);
    transition: all 1.3s;
}
.index-header .btn{
    max-width: 250px;
    transform: translateY(1200px);
    transition: all 1.4s;
}
.image-doc img{
    width: auto;
}
.main-section{
    padding: 2em 0 2em 0;
}
article{
    display: flex;
    flex-direction: column;
    gap: 50px;
     
}
section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2em 3em 3em 2em;
}
.typography{
    color: $standart-color;
}
.code-toolbar{
    width: auto;
  //  margin: 1em;
}
aside {
    & .sidenav__item{
      & i{
        display: none;
      }
      &:hover{
        background: $ebe-bg;
        color: $active-color;
        transition-duration: .5s;
     }
   }
}

.scroll-top{
    position: fixed;
    right: 30px;
    bottom: 120px;
    z-index: 10;
}

.rectangle{
    height: 150px;
    width: 100%;
    background: $standart-color;
}
.parallax{
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}
@media screen and (max-width: 960px){
    .main{
        grid-template-columns: 50px auto;
    }
    aside {
        & .sidenav__item {
             &:hover{
                & i{
                transform: scale(1.5);
                transition: all 0.5s;  
                }  
             }
         & .text-label{
             display: none;
         }
         & i{
             display: inline-block;
            
         }
         & .ads{
            display: none;
         }
      }
    }
   .wirenav{
    & .navbar__menu{
        display: none;
    }
    & .navbar__burger{
        display: inline;
    }
    & .navbar__wrap{
        padding: 20px 0 20px 0;
    }
   }
   .code-toolbar{
    max-width: 500px;
    }
    .index-header{
       height: 70vh;
        & h1{
            text-transform: uppercase;
            text-align: center;
            font-size: 2em;
            padding: 2em;
            color: $standart-color;
           
        }
    }
    .ads{
        display: none;
    }
    
}
@media screen and (max-width: 540px) {
    .main{
        grid-template-columns: auto;
        padding: 0;
    }
    aside {
        & .sidenav__item {
        & .text-label{
        display: inline-block;
        }
        & i{
            display: none;
        }
        }
    }
    article{
        gap: 30px;
    }
    section{
        padding: 2em 0 2em 1em;
      //align-items: center;
    }
   .code-toolbar{
        width: 400px;
    }
    .index-header{
       
        & h1{
            text-transform: uppercase;
            text-align: center;
            font-size: 1.5em;
            padding: 2em;
            color: $standart-color;
           
        }
    }
    .ads, .ads-middle{
        display: flex;
        flex-direction: column;
        max-width: 500px;
    }
   
}