@import "components/variables.scss";


.standart-color{
   background: $standart-color;
}
.navbar__burger{
    padding-right: 1em;
    display: none;
}
.navbar__toggle{
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    background: #FFF;
    text-align: center;
    z-index: 5;
    
    & li { 
        height: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s ease;
        &:hover{
                background: $standart-color;
                & a{
                  color: #FFF;   
                }       
            }
        & a{
            font-size: 1em;
            text-transform: uppercase;   
        }
    }
}
.main{
    display: grid;
    grid-template-columns: 300px auto;
    gap: 15px;
    padding: 20px;
    & .main-index{
        grid-template-columns: auto;  
    }
}

header{
    padding: 2em 0 2em 1em;
    background: $ebe-bg;
    background-repeat: no-repeat;
    background-size: cover;
    color: $border-color;
    & h1 {
        color: #FFF;
    }

}
.index-header{
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h1{
        text-transform: uppercase;
        font-size: 3em;
    }
}

.main-section{
    padding: 2em 0 2em 0;
}
article{
    display: flex;
    flex-direction: column;
    gap: 50px;
    & section{
        display: inherit;
        flex-direction: column;
        gap: 30px;
        padding: 20px 50px 30px 50px;
    }
}
aside {
    & .sidenav__item{
      & .material-icons{
        display: none;
      }
      &:hover{
        background: $ebe-bg;
        color: $active-color;
        transition-duration: .5s;
     }
   }
}
.scroll-top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10;
}
footer{
    background: #FFF;
    box-shadow: $bshd;
    & .footer-content{
         padding: 2em 0 2em 2em; 
    }
    & .live-int{
        margin-left: 55%;
    }
    & .footer-copyright{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $ebe-bg;
        color: $standart-color;
    }
}
.rectangle{
    height: 150px;
    width: 100%;
    background: $standart-color;
}
@media screen and (max-width: 960px){
    .main{
        grid-template-columns: 50px auto;
    }
    aside {
       & .sidenav__item {
        & .text-label{
            display: none;
        }
        & .material-icons{
            display: inline-block;
        }
     }
   }
   .wirenav{
    & .navbar__menu{
        display: none;
    }
    & .navbar__burger{
        display: inline;
    }
    & .navbar__wrap{
        padding: 20px 0 20px 0;
    }
   }
   .code-toolbar{
    max-width: 700px;
    }
    .ads{
        display: none;
    }
    footer{
       
        & .live-int{
            margin-left: 40%;
        }
    }
}
@media screen and (max-width: 540px) {
    .main{
        grid-template-columns: auto;
    }
    aside {
        & .sidenav__item {
        & .text-label{
        display: inline-block;
        }
        & .material-icons{
            display: none;
        }
    }
    article{
        gap: 30px;
        & section{
            padding: 0;
        }
    }
    
}
.code-toolbar{
    width: 70%;
}
    .ads{
        display: block;
    }
    footer{
        & .footer-content{
          padding: 2em 0 2em;  
          flex-direction: column;
          align-items: center;
        }
        & .live-int{
            margin-left: 0;
        }
    }
}