@font-face{
    font-family: 'Poppins';
    src: local('Poppins'),
      url('../fonts/Poppins-Regular.ttf')

}
$dsp: flex;
$fd: column;
$ai: flex-start;
$popins: 'Poppins';
$bshd: 0px 0px 40px rgba(0, 0, 0, 0.1);
$bold: 700;
$standart: 500;
$lh: 150%;

*,
*:before,
*:after {
 box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
}

body{
  font-family: $popins, Arial, Helvetica, sans-serif;
  font-style: normal;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}

/* Flex & Grids */
.column{
    display: $dsp;
    flex-direction: $fd;
    gap: 16px;
}
.row{
    display: $dsp;
    flex-direction: row;
    gap: 16px;
}
.container{
    display: grid;
    padding: 30px 0;
}
.col-2{
    display: inherit;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.col-3{
    display: inherit;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.col-4{
    display: inherit;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
@media screen and (max-width: 760px){
	.col-2, .col-3, .col-4 {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    
}

/* Colors*/
$standart-color:#2F1160;
$active-color: #6200ff;
$border-color: #B9B7BD;
$active-bg: #FBFAFC;
$ebe-bg: #EBE9F0;

.standart-color{
    background: $standart-color;
}
.active-color{
    background: $active-color;
}
.border-color {
    background: $border-color;
}
.ebe-bg {
    background: $ebe-bg;
}
.active-bg {
    background: $active-bg;
}

/* Typography */
h1{
   font-size: 54px;
}
h2{
   font-size: 40px;
}
h3{
    font-size: 32px;
    line-height: 46px;
}
h4{
    font-size: 25px;
    line-height: 38px;
}
.subheading-first {
   font-weight: 400;
   font-size: 53px;
   line-height: 120%;
}
.subheading-second {
   font-weight: 400;
   font-size: 39px;
}
.subheading-third {
    font-weight: 400;
    font-size: 32px;
}
.subheading-four {
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
}
.body-text {
    font-weight: $bold;
    font-size: 25px;
    line-height: 38px;
}
.text-body {
    font-weight: $standart;
    font-size: 18px;
    line-height: 28px;
}
.body-bold, .label-bold {
    font-family: inherit;
    font-weight: $bold;
    font-size: 18px;
    line-height: 28px;
}
.text-small, .text-label{
    font-family: $popins;
    font-weight: $standart;
    font-size: 16px;
    line-height: $lh;
}
.small-bold {
    font-family: $popins;
    font-weight: $bold;
    font-size: 16px;
    line-height: $lh;
}
.text-micro {
    font-family: $popins;
    font-weight: $standart;
    font-size: 14px;
    line-height: $lh;
}
.micro_bold {
    font-family: $popins;
    font-weight: $bold;
    font-size: 14px;
    line-height: $lh;
}


/*  Navigations  */
.header, .content{
    display: $dsp;
    flex-direction: column;
    align-items: $ai;
    padding: 80px;
    gap: 50px;
    color: $standart-color;
}
.title-page{
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 100%;
}

/* Navbar */
.brand-logo{
    padding-left: 16px;
    text-transform: uppercase;
    color: $standart-color;
}
.navbar{
    box-shadow: $bshd;
}
.navbar__wrap{
    display: $dsp;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}
ul.navbar__menu li{
    display: inline-block;
    position: relative;
}
ul.navbar__menu li a{
    display: block;
    padding: 20px 25px;
    text-align: center;
    text-transform: uppercase;
}
ul.navbar__menu ul.dropdown li {
    display: block;
}
ul.navbar__menu li ul.dropdown {  
    position: absolute;
    z-index: 9;
    display: none;
    transition: all 0.3s;
}
ul.dropdown{
    background: #FFF;
}
ul.navbar__menu li a:hover{
    background: $standart-color;
    color: #FFF;
    transition: all 0.3s;
}
ul.navbar__menu li:hover ul.dropdown {
    display: block;
}

/* Bradcrumbs */
.breadcrumb__wrap {
    display: $dsp;
    flex-direction: row;
    align-items: center;
    padding: 16px; 
}
.breadcrumb__link {
    display: $dsp;
    flex-direction: row;
    align-items: center; 
}
.bredcrumb__label {
    font-weight: $bold;
    font-size: 16px;
    line-height: $lh;
    display: $dsp;
    align-items: center;
    color: $standart-color;
}
.breadcrumb__link_active .bredcrumb__label{
    color: $active-color;
}
.breadcrumb__link_active .material-icons{
    color: $active-color;
}

/* Horisontal nav */

.horisontal {
   box-sizing: border-box;
}
.horisontal__wrap {
    display: $dsp;
    flex-direction: row;
    justify-content: start;
   
}
.horisontal__item {
    display: $dsp;
    flex-direction: $fd;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100px;
    border-top: 3px solid $border-color;
   
}
.horisontal__item:hover{
    background: $active-bg;
    color: $active-color;
}

.horisontal__item_active{
    color: $active-color;
    border-top: 3px solid $active-color;
}
.horisontal__item_active:hover{
    background: $active-color;
    border-top: 3px solid $active-color;
    color: #FFFFFF;
    transition: all .5s ease-in;
}

/* Tabs */

.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.tabs__wrap {
    display: $dsp;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    box-shadow: $bshd;
}
.tabs__item {
    display: $dsp;
    flex-direction: $fd;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 45px;
    border-bottom: 3px solid $border-color;
}
.tabs__item_active {
    border-color: $active-color;
    color: $active-color;
    background: $active-bg;
}

/* Sidenav  */
.sidenav {
   box-sizing: border-box;
   box-shadow: $bshd;
}
.sidenav__wrap {
    display: $dsp;
    flex-direction: $fd;
    justify-content: center;
    align-items: flex-end;
}
.sidenav__item {
    display: $dsp;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 48px;
    border-right: 3px solid $border-color;
}
.sidenav__wrap .active {
    border-color: $active-color;
    color: $active-color;
    background-color: $active-bg;
}

/* Buttons */
.btn{
    display: $dsp;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    gap: 10px; 
    border: 3px solid $border-color;
    border-radius: 4px;
    height: 48px; 
}
.primary{
    background: $standart-color;
    color: #FFFFFF; 
    border-color: $standart-color;
}
.primary:hover, .primary:focus{
    background: $active-color;
    border-color: $active-color;
    transition: all .3s ease-in;
}
.primary-disabled{
    background: $active-bg;
    color: $border-color;
    border-color: $active-bg;
    cursor: wait;
}
.primary-disabled:hover{
    background: $ebe-bg;
    color: $active-bg;
    border-color: $ebe-bg;
}
.primary-disabled:focus{
    background: $border-color;
    color: $active-bg;
    border-color: $border-color;
}

/* Secondary */
.secondary{
    background: #FFFFFF;
    border: 3px solid $standart-color;
    color: $standart-color; 
}
.secondary:hover, .secondary:focus{
    border-color: $active-color;
    color: $active-color;
    transition: all .3s ease-in;
}
.secondary-disabled{
    border-color: $border-color;
    color: $border-color;
}
.secondary-disabled:hover{
    background: $border-color;
    color: #FFFFFF;
    cursor: wait;
    transition: all .3s ease-out;
}
.secondary-disabled:focus{
    background: $ebe-bg;
    border-color: $ebe-bg;
}
/* Tertiary */
.tertiary{
    background: #FFFFFF;
    color: $standart-color;
    border-color: #FFFFFF; 
}
.tertiary:hover, .tertiary:focus{
    color: $active-color;
    background: $ebe-bg;
    border-color: $ebe-bg;
    transition: all .3s ease-in;
}
.tertiary-disabled{
    background: #FFFFFF;
    color: $border-color;
    border-color: #FFFFFF;
}
.tertiary-disabled:hover{
    border-color: $border-color;

    transition: all .3s ease-in;
    cursor: wait;
}
.tertiary-disabled:focus{
    background: $border-color;
    color: #FFFFFF;
}

/* Btn Round */
.btn-round{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 3px solid $border-color;
    border-radius: 999px;
    height: 48px;
    width: 48px;
}
.btn-round .material-icons{
    font-weight: 900;
    line-height: 28px;
}
.round-primary{
    background: $standart-color;
    color: #FFFFFF; 
    border-color: $standart-color;
}
.round-secondary {
    background-color: #FBFAFC;
    border-color: $standart-color;
}
.round-tretiary {
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: $standart-color;
}
.round-primary_disabled{
    background: $active-bg;
    color: $border-color;
    border-color: #FFFFFF;
}
.round-secondary_disabled{
    background: #FFFFFF;
    color: $border-color;
    border-color: $border-color;
}
.round-tretiary_disabled{
    background: #FFFFFF;
    color: $border-color;
    border-color: #FFFFFF;
}
/* Button group */
.btn-left{
    border-radius: 4px 0 0 4px;
}
.btn-middle{
    border-radius: 0;
}
.btn-right{
    border-radius: 0 4px 4px 0;
}
.btn-group .btn{
    width: 100%;
}
.btn-group__wrap {
    display: $dsp;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    width: 500px;
}

/* Inputs */
@mixin input{ 
    font-family: inherit;
    font-size: 18px;
    font-weight: $standart;
    line-height: 28px;
    color: currentColor;
    background: #FFFFFF;
    border: 1px solid $standart-color;
    border-radius: 4px; 
}
/* Input Botoom */
@mixin input-bottom{
    font-family: inherit;
    font-size: 1em;
    font-weight: $standart;
    color: $standart-color;
    border: 2px solid transparent;
    border-bottom: 2px solid $standart-color;
}
.input-field__input {
    height: 48px;
    @include input;
    padding-left: 16px;
}
@mixin rowfs{
    display: $dsp;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
@mixin rowce{
    display: $dsp;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.input-field__label {
    padding: 0;
    background: #FFFFFF;
    @include rowfs;
    position: absolute;
    margin-top: -10px;
    margin-left: 16px;
    color: $standart-color;
}
.label-disabled {
    color: $border-color
} 
.input-field__input:disabled, .input-field__label_disabled{
    color: $border-color;
}
.input-field__input:focus .input-field__label{
    color: $active-color;
    transition: all 0.3s ease-in;
}
/* Textarea */
.input-field__textarea{
    height: 120px;
    width: 295px;
    @include input;
    padding: 11px 16px;
}
@mixin disabled{
    color: $border-color;
    border-color: $border-color;
}
.input-field__textarea::placeholder{
    color: $standart-color;
}

.input-field__textarea:disabled{
    @include disabled;
}
.input-field__textarea:disabled::placeholder{
    @include disabled;
}
/* Select */
@mixin sizeparam{
    width: 295px;
    height: 50px;
}
.input-field__select {
    @include sizeparam;
    @include input;
    padding-left: 16px;
    word-spacing: inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
   
}
.input-field__icon {
    position: absolute;
    margin-left: 260px;
    margin-top: 12px;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
}
.input-field__option {
    font-size: inherit;
    line-height: inherit;
    font-weight: $bold;
    line-height: inherit;
}
.input-field__date {
   width: 280px;
   height: 50px;
   @include input;
   padding-left: 16px;
}
.input-field__date::-webkit-calendar-picker-indicator {
   font-size: 18px;
   font-family: inherit;
   padding-right: 16px;
}

.input-field__numerick {
   @include sizeparam;
   @include input;
   padding: 0 16px 0 16px;
}
.input-field__numerick:disabled{
    @include disabled;
}
/* Search Button */
.input-field__search{
    @include input;
    width: 290px;
    height: 50px;
    padding-left: 18px;
    padding-right: 16px;
}
.input-field__search:disabled{
    @include disabled;
}
.input-field__search-icon{
    position: absolute;
    margin-top: 14px;
    margin-left: 16px;
    font-size: 16px;
    font-weight: 900;
    line-height: 18px;
    color: $border-color;
}
/* Radio Buttons */
.form-control {
    font-family: inherit;
    font-size: 18px;
    font-weight: $bold;
    line-height: 28px;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 1em;
}
input[type='radio'] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    font: inherit;
    color: currentColor;
    width: 30px;
    height: 30px;
    border: 3px solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  input[type='radio']::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: 300ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
  }
  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  input[type="radio"]:disabled{
    color: $border-color;
  }
  input[type="radio"]:disabled::before {
    background-color: $border-color;
  }

/* Checkboxes */
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 30px;
    height: 30px;
    border: 3px solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
input[type="checkbox"].square__check::before {
    content: "";
    width: 8px;
    height: 8px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}
input[type="checkbox"].standart__check::before {
    content: " ";
    width: 14px;
    height: 14px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: $standart-color;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
input[type=checkbox]:disabled {
	border-color: $border-color;
}
input[type=checkbox].square__check:disabled:before {
	background: $border-color;
}
input[type=checkbox].standart__check:disabled:before {
	background: $border-color;
}
/* Switches */
.checkbox-ios {
	display: inline-block;    
	height: 28px;    
	line-height: 28px;  
	margin-right: 10px;      
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	user-select: none;	
    display: grid;
    grid-template-columns: 2em auto;
    gap: 2em;
}
.checkbox-ios .checkbox-ios-switch {
	position: relative;	
	display: inline-block;
	box-sizing: border-box;			
	width: 50px;	
	height: 30px;
	border: 3px solid currentColor;
	border-radius: 99px;	
	background: #FFFFFF;
	transition: .2s;
}
.checkbox-ios .checkbox-ios-switch:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;	
	display: inline-block;
	width: 18px;	
	height: 18px;
	border-radius: 99px;
	background: $standart-color;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	transition: .15s;
}
.checkbox-ios input[type=checkbox] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox-ios input[type=checkbox]:not(:disabled):active + .checkbox-ios-switch:before {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, .3);
}
.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch {
	background: $active-bg;
}
.checkbox-ios input[type=checkbox]:checked + .checkbox-ios-switch:before {
	transform:translateX(20px);
}
/* Disabled */
input[type=checkbox]:disabled + .checkbox-ios-switch {
	border-color: $border-color;
}
input[type=checkbox]:disabled + .checkbox-ios-switch:before {
	background: $border-color;
}

/* Tables */
tr{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
td, th{
    width: 180px;
    display: $dsp;
    flex-direction: row;
    padding: 13px 16px;
    gap: 8px;
    font-weight: $standart;
    font-size: 16px;
    line-height: $lh;
}
th{
    color: $border-color;
    background: #FFFFFF;
}
.striped tr:nth-child(odd){
    background-color: lavender;
}

/* Main  Miscellaneus */
.large-icon{
    font-size: 48px;
    line-height: 55px;
}
.icon-avatar{
    display: $dsp;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    background-color: $active-bg;
    border-radius: 999px;
}

/* Pagination */
@mixin frow{
    display: $dsp;
    flex-direction: row;
    align-items: center; 
}
.paging{
    @include frow;
    gap: 2px;
}
.paging__frame{
    @include frow;
    gap: 2px;
}
.paging__item{
    @include frow;
    justify-content: space-around;
    padding: 0px 16px;
    width: 50px;
    height: 50px;
    background-color: #FFFFFF;
    box-shadow: $bshd;
    border-radius: 4px;
}
.paging__item:hover{
    background: $active-bg;
}
.paging__item_active{
    background: $standart-color;
    color: #FFFFFF;
}
.paging__item_active:hover{
    background: $active-color;
}
.paging-icon{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}

/* Card */
@mixin card{
    box-shadow: $bshd;
    border-radius: 5px;
}
.card-vertical{
    @include card;
}
@mixin fcolfs {
    display: $dsp;
    flex-direction: $fd;
    align-items: $ai;
}

/* Media */
.wireimage .image__wrap{
    display: $dsp;
    width: 295px;
    height: 220px;
    padding: 10px;
    justify-content: center;
    align-items: center; 
    border-radius: var(--radius-other-m, 4px);
    background: var(--background-tint, #F4F2F7);
}
.image__wrap img{
    width: 100%; 
    height: 100%;
}

/* Cards */
.card__wrap{
    padding: 20px;
    gap: 20px;
}
.card-vertical .card__wrap{
    @include fcolfs;
}
.card__image{
    background: #F4F2F7;
    padding: 5px;
    border-radius: 5px;
    @include frow;
    justify-content: center;
}
.card__image img{
    width: 100%;
}
.card__image-icon{
    font-weight: 900;
    font-size: 64px;
    line-height: 74px;
}
.card__text-block{
    @include fcolfs;
    padding: 0;
    gap: 8px;
}
.card__action{
    @include frow;
    padding: 0;
    gap: 20px;
}
.card-horizontal{
    @include card;
}
.card-horizontal .card__wrap{
    display: $dsp;
    flex-direction: row;
    align-items: $ai;
}
.card-horizontal .card__image{
    width: 165px;
    height: 165px;
}
.pill{
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    padding: 5px 10px;
    background: $standart-color;
    border-radius: 99px;
    color: #FFFFFF;
}
/* Notification */
.notif-block{
    box-shadow: $bshd;
    border-radius: 5px;
}
.notif-block__wrap{
    @include frow;
    justify-content: center;
    padding: 16px 32px;
    gap: 32px;
    height: 80px;
}
.notif-block__success{
    background: yellowgreen;
    color: #FFF;
}
.notif-block__warning{
    background: #f89406;
    color: #FFF;
}
.notif-block__danger{
    background: #bd362f;
    color: #FFF;
}
.notif-block__action{
    background: $active-color;
    color: #FFF;
}
.wirequote{
    padding: 15px 0 15px 10px;
    border-left: 5px solid $active-color;
    background: $ebe-bg;
}

/* Tooltips */
@mixin tooltip{
    content: attr(data-tooltip);
    position: absolute;
    z-index: 10; 
    color: #FFF;
    background: rgba(47, 17, 96, 0.9);
    padding: 10px 20px;
    border-radius: 3px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.3s;
}
.tooltip-top, .tooltip-right, .tooltip-left, .tooltip-bottom{
    position: relative;  
}
.tooltip-top::before{
    @include tooltip;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-top:hover::before{
    opacity: 1;
}

.tooltip-right::after{
    @include tooltip;
    top: -5px; 
    margin-left: 10px;
}
.tooltip-right:hover::after{
    opacity: 1;
}

.tooltip-left::before{
    @include tooltip;
    top: 10px;
    right: 90px;
 }
 .tooltip-left:hover::before{
    opacity: 1;
 }
 
.tooltip-bottom::after{
    @include tooltip;
    top: 70px;
    left: 0;
}
.tooltip-bottom:hover::after{
    opacity: 1;
}

/* Accordion */
.accordion{
    @include fcolfs;
    align-self: stretch; 
    border-radius: 3px;
    border: 1px solid $standart-color;
    box-shadow: $bshd;
}
.accordion__header{
    @include frow;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    gap: 8px;
    align-self: stretch;
    border-bottom: 1px solid $standart-color;
    background: #FFF;
}
.accordion__body{
    @include fcolfs;
    padding: 16px 20px;
    gap: 8px;
    align-self: stretch;
    border-bottom: 1px solid $standart-color;
    background: #FFF;
    display: none; 
}

/* Annotations */
@mixin annot{
    background: #FFFDA1;
    box-shadow: 3px 3px 0px $standart-color;
    text-align: center;
}
.sticky-note__wrap{
    width: 170px;
    min-height: 170px;
    @include frow;
    @include annot;
}
.callout{
    width: 40px;
    height: 40px;
    @include annot;
    display: $dsp;
    flex-direction: $fd;
    justify-content: space-around;
    border-radius: 999px;
}

.modal{
    display: none;
}
.modal__overlay{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background: rgba(47, 17, 96, 0.9);
}
.modal__wrap{
    @include fcolfs;
    min-width: 50%;
    max-width: 55%;
    padding: 15px;
    gap: 15px;
    border-radius: 3px;
    z-index: 20;
    background: #FFF;
    box-shadow: $bshd;
}

.modal__footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0 5px 0;
    border-top: 1px solid $border-color;

}