.standart-color {
  background: #2F1160;
}

.navbar__burger {
  padding-right: 1em;
  display: none;
}

.navbar__toggle {
  display: none;
  position: absolute;
  top: 80px;
  width: 100%;
  background: #FFF;
  text-align: center;
  z-index: 5;
}
.navbar__toggle li {
  height: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navbar__toggle li:hover {
  background: #2F1160;
}
.navbar__toggle li:hover a {
  color: #FFF;
}
.navbar__toggle li a {
  font-size: 1em;
  text-transform: uppercase;
}

.main {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 15px;
  padding: 20px;
}
.main .main-index {
  grid-template-columns: auto;
}

header {
  padding: 2em 0 2em 1em;
  background: #EBE9F0;
  background-repeat: no-repeat;
  background-size: cover;
  color: #B9B7BD;
}
header h1 {
  color: #FFF;
}

.index-header {
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.index-header h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.main-section {
  padding: 2em 0 2em 0;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}
article section {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 20px 50px 30px 50px;
}

aside .sidenav__item .material-icons {
  display: none;
}
aside .sidenav__item:hover {
  background: #EBE9F0;
  color: #6200ff;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.scroll-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10;
}

footer {
  background: #FFF;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}
footer .footer-content {
  padding: 2em 0 2em 2em;
}
footer .live-int {
  margin-left: 55%;
}
footer .footer-copyright {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #EBE9F0;
  color: #2F1160;
}

.rectangle {
  height: 150px;
  width: 100%;
  background: #2F1160;
}

@media screen and (max-width: 960px) {
  .main {
    grid-template-columns: 50px auto;
  }
  aside .sidenav__item .text-label {
    display: none;
  }
  aside .sidenav__item .material-icons {
    display: inline-block;
  }
  .wirenav .navbar__menu {
    display: none;
  }
  .wirenav .navbar__burger {
    display: inline;
  }
  .wirenav .navbar__wrap {
    padding: 20px 0 20px 0;
  }
  .code-toolbar {
    max-width: 700px;
  }
  .ads {
    display: none;
  }
  footer .live-int {
    margin-left: 40%;
  }
}
@media screen and (max-width: 540px) {
  .main {
    grid-template-columns: auto;
  }
  aside .sidenav__item .text-label {
    display: inline-block;
  }
  aside .sidenav__item .material-icons {
    display: none;
  }
  aside article {
    gap: 30px;
  }
  aside article section {
    padding: 0;
  }
  .code-toolbar {
    width: 90%;
  }
  .ads {
    display: block;
  }
  footer .footer-content {
    padding: 2em 0 2em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .live-int {
    margin-left: 0;
  }
}