* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* Navbar */
.brand-logo {
  padding-left: 16px;
  text-transform: uppercase;
  color: #2F1160;
}

.navbar {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.navbar__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

ul.navbar__menu li {
  display: inline-block;
  position: relative;
}
ul.navbar__menu li a {
  display: block;
  padding: 20px 25px;
  text-align: center;
  text-transform: uppercase;
}
ul.navbar__menu li ul.dropdown {
  position: absolute;
  z-index: 9;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
ul.navbar__menu li a:hover {
  background: #2F1160;
  color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
ul.navbar__menu ul.dropdown {
  background: #FFF;
}
ul.navbar__menu ul.dropdown li {
  display: block;
}
ul.navbar__menu li:hover ul.dropdown {
  display: block;
}

/* Breadcrumbs */
.breadcrumb__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.breadcrumb__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bredcrumb__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2F1160;
}

.breadcrumb__link_active .bredcrumb__label {
  color: #6200ff;
}
.breadcrumb__link_active .material-icons {
  color: #6200ff;
}

/* Mobile Nav */
.horisontal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.horisontal__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.horisontal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 100px;
  border-top: 3px solid #B9B7BD;
}

.horisontal__item:hover {
  background: #FBFAFC;
  border-color: #6200ff;
  color: #6200ff;
}

.horisontal__item_active {
  color: #6200ff;
  border-top: 3px solid #6200ff;
}

.horisontal__item_active:hover {
  background: #6200ff;
  border-top: 3px solid #6200ff;
  color: #FFFFFF;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* Tabs */
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tabs__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85px;
  height: 45px;
  border-bottom: 3px solid #B9B7BD;
}

.tabs__item_active {
  border-color: #6200ff;
  color: #6200ff;
  background: #FBFAFC;
}

/* Sidenav  */
.sidenav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.sidenav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sidenav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  height: 48px;
  border-right: 3px solid #B9B7BD;
}

.sidenav__item_active {
  border-color: #6200ff;
  color: #6200ff;
  background-color: #FBFAFC;
}

/* Pagination */
.paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.paging__frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.paging__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0px 16px;
  width: 50px;
  height: 50px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.paging__item:hover {
  background: #FBFAFC;
}

.paging__item_active {
  background: #2F1160;
  color: #FFFFFF;
}
.paging__item_active:hover {
  background: #6200ff;
}

.paging-icon {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
}

/* Flex & Grids */
.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 16px;
}

.container {
  display: grid;
  padding: 30px 0;
}

.col-2 {
  display: inherit;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.col-3 {
  display: inherit;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.col-4 {
  display: inherit;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media screen and (max-width: 760px) {
  .col-2, .col-3, .col-4 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}